Node-Red(IoT & AioT)/Smart sorting and defect detection on a conveyor belt/Demo1/Demo1Flow.json
[
    {
        "id": "73960975.76e488",
        "type": "tab",
        "label": "FYP DEMO 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6642657c.f4cc6c",
        "type": "rpi-gpio in",
        "z": "73960975.76e488",
        "name": "Prediction sensor",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "8fb5206032b9ee8c"
            ]
        ]
    },
    {
        "id": "3f63bf19.66cc5",
        "type": "usbcamera",
        "z": "73960975.76e488",
        "filemode": "0",
        "filename": "FYP.jpg",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "2",
        "name": "",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "2442e195.d0a6ce",
                "f656773e0a0649f8"
            ]
        ]
    },
    {
        "id": "2442e195.d0a6ce",
        "type": "image",
        "z": "73960975.76e488",
        "name": "",
        "width": "240",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "f656773e0a0649f8",
        "type": "teachable machine",
        "z": "73960975.76e488",
        "name": "",
        "mode": "online",
        "modelUrl": "https://teachablemachine.withgoogle.com/models/-3V7QplZr/",
        "localModel": "teachable_model",
        "output": "best",
        "activeThreshold": false,
        "threshold": 80,
        "activeMaxResults": false,
        "maxResults": 3,
        "passThrough": true,
        "x": 850,
        "y": 320,
        "wires": [
            [
                "8ed97c52d70d9883",
                "645e7df2ddb73415",
                "bcf0e12b246be6d2"
            ]
        ]
    },
    {
        "id": "645e7df2ddb73415",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "let ObjectP = false;\n\nfor (let object of msg.payload) {\n    if (object.class == 'Mouse') {\n        ObjectP = true;\n        if (ObjectP == true)\n        {\n            msg.payload = 4;\n            return msg;\n        }\n        break;\n    }\n    \n    else\n    {msg.payload = 5.5;\n    return msg;\n    }\n}\nmsg.payload = ObjectP;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 320,
        "wires": [
            [
                "481d40844e251503"
            ]
        ]
    },
    {
        "id": "a8c173fe.dbcaa",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Servo Motor",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "bcm": true,
        "x": 1510,
        "y": 340,
        "wires": []
    },
    {
        "id": "efbb631b4e17d8a3",
        "type": "change",
        "z": "73960975.76e488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tags.host",
                "pt": "msg",
                "to": "Pi",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fields.Object",
                "pt": "msg",
                "to": "payload[0].class",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fields.Score",
                "pt": "msg",
                "to": "payload[0].score",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 840,
        "wires": [
            [
                "1916499c9898851b",
                "1c8f9391fa227e88"
            ]
        ]
    },
    {
        "id": "1916499c9898851b",
        "type": "influxdb out",
        "z": "73960975.76e488",
        "influxdb": "c5d7e93ab51ff726",
        "name": "Influx DB",
        "measurement": "Predictions",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1840,
        "y": 840,
        "wires": []
    },
    {
        "id": "15d52c9c3cf5309c",
        "type": "debug",
        "z": "73960975.76e488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e25d2a20814ea3df",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "\nvar helpMessage = \"Welcome to the bot of Sorting Detection System \\r\\n\";\nhelpMessage += \"Your chat id is \" + msg. payload.chatId;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You are welcome: \" +msg.originalMessage.from.username;\nhelpMessage +=\"\\r\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "b6c460562cbe6c4f"
            ]
        ]
    },
    {
        "id": "0d06a19c4cb906a1",
        "type": "telegram command",
        "z": "73960975.76e488",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1b018480918e5201",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 1170,
        "y": 1180,
        "wires": [
            [
                "e25d2a20814ea3df",
                "15d52c9c3cf5309c"
            ],
            []
        ]
    },
    {
        "id": "b6c460562cbe6c4f",
        "type": "telegram sender",
        "z": "73960975.76e488",
        "name": "",
        "bot": "1b018480918e5201",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1570,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "8ed97c52d70d9883",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "for (let object of msg.payload) {\nif (object.class == 'Mouse') {\n        \n    msg.payload.predict = msg.payload[0].score\n    break;\n    }\nelse if (object.class == 'Controller') {\n        \n    msg.payload.predict = msg.payload[0].score\n    break;\n    }\nbreak;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 840,
        "wires": [
            [
                "efbb631b4e17d8a3"
            ]
        ]
    },
    {
        "id": "1c8f9391fa227e88",
        "type": "debug",
        "z": "73960975.76e488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 940,
        "wires": []
    },
    {
        "id": "7036a3b2a402af86",
        "type": "debug",
        "z": "73960975.76e488",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "289f07c8a9274dba",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = { \n    chatId: 310618835,\n    type: \"photo\",\n    caption: 'Item on conveyor = ' + msg.payload[0].class + '(Accuracy = ' + msg.payload[0].score + ')',\n    content: \"/home/pi/Pictures/FYP.jpg\" };\n    \nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "7036a3b2a402af86",
                "7bc0fac050ae1f12"
            ]
        ]
    },
    {
        "id": "7bc0fac050ae1f12",
        "type": "telegram sender",
        "z": "73960975.76e488",
        "name": "",
        "bot": "1b018480918e5201",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1c09f887bc240985",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 1;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 820,
        "wires": [
            [
                "4bdb2c0be680fad2"
            ]
        ]
    },
    {
        "id": "75793c6957bf82b5",
        "type": "delay",
        "z": "73960975.76e488",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 740,
        "wires": [
            [
                "1c09f887bc240985",
                "1113693ab23ba70f",
                "de115edcbf7aeeeb"
            ]
        ]
    },
    {
        "id": "057a3bb8a782af94",
        "type": "usbcamera",
        "z": "73960975.76e488",
        "filemode": "1",
        "filename": "FYP.jpg",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "2",
        "name": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8fb5206032b9ee8c",
        "type": "trigger",
        "z": "73960975.76e488",
        "name": "",
        "op1": "1",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 640,
        "wires": [
            [
                "75793c6957bf82b5",
                "3f63bf19.66cc5",
                "057a3bb8a782af94",
                "4bed58f2bf5f4d6f",
                "0fcb86902033d73c",
                "28ba308cf9a999f9"
            ]
        ]
    },
    {
        "id": "c10c5dcd76adf9e5",
        "type": "telegram command",
        "z": "73960975.76e488",
        "name": "",
        "command": "/run",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1b018480918e5201",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 430,
        "y": 1300,
        "wires": [
            [
                "648270f623a2ea55",
                "1cae4162a01a3772",
                "297e03dfc26df7a1"
            ],
            []
        ]
    },
    {
        "id": "ea9d6236e30303a0",
        "type": "telegram command",
        "z": "73960975.76e488",
        "name": "",
        "command": "/pause",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1b018480918e5201",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 430,
        "y": 1100,
        "wires": [
            [
                "90d4803e3c5afdc9",
                "ad6911b4f465a91f",
                "981aceb49b52d25b"
            ],
            []
        ]
    },
    {
        "id": "1113693ab23ba70f",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 0;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 860,
        "wires": [
            [
                "85edbd0ce688caad"
            ]
        ]
    },
    {
        "id": "de115edcbf7aeeeb",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 50;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 900,
        "wires": [
            [
                "52c12ff449966609"
            ]
        ]
    },
    {
        "id": "c88c77a4bafb9c8d",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Speed (PWM)",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 900,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b6abef31959eb84e",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 870,
        "y": 1080,
        "wires": []
    },
    {
        "id": "392a04941c193461",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 2",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "52c12ff449966609",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Speed (PWM)",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 940,
        "y": 940,
        "wires": []
    },
    {
        "id": "4bdb2c0be680fad2",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 910,
        "y": 820,
        "wires": []
    },
    {
        "id": "85edbd0ce688caad",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 2",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 910,
        "y": 880,
        "wires": []
    },
    {
        "id": "af28d167e4658fd0",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Speed (PWM)",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 940,
        "y": 720,
        "wires": []
    },
    {
        "id": "106338be42d073ec",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "af68f80d20d80dfb",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 2",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 910,
        "y": 660,
        "wires": []
    },
    {
        "id": "4bed58f2bf5f4d6f",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 0;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 600,
        "wires": [
            [
                "106338be42d073ec"
            ]
        ]
    },
    {
        "id": "0fcb86902033d73c",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 0;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 640,
        "wires": [
            [
                "af68f80d20d80dfb"
            ]
        ]
    },
    {
        "id": "28ba308cf9a999f9",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 50;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 680,
        "wires": [
            [
                "af28d167e4658fd0"
            ]
        ]
    },
    {
        "id": "90d4803e3c5afdc9",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 0;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1080,
        "wires": [
            [
                "b6abef31959eb84e"
            ]
        ]
    },
    {
        "id": "ad6911b4f465a91f",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 0;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1120,
        "wires": [
            [
                "392a04941c193461"
            ]
        ]
    },
    {
        "id": "981aceb49b52d25b",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 50;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "c88c77a4bafb9c8d"
            ]
        ]
    },
    {
        "id": "648270f623a2ea55",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 1;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1280,
        "wires": [
            [
                "6caa9108df5d9115"
            ]
        ]
    },
    {
        "id": "1cae4162a01a3772",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 0;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1320,
        "wires": [
            [
                "23c8eb5e723212f4"
            ]
        ]
    },
    {
        "id": "297e03dfc26df7a1",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "var payload = msg.payload;\nmsg.payload = 50;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1360,
        "wires": [
            [
                "881d47425d726d0d"
            ]
        ]
    },
    {
        "id": "881d47425d726d0d",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Speed (PWM)",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 900,
        "y": 1400,
        "wires": []
    },
    {
        "id": "6caa9108df5d9115",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 870,
        "y": 1280,
        "wires": []
    },
    {
        "id": "23c8eb5e723212f4",
        "type": "rpi-gpio out",
        "z": "73960975.76e488",
        "name": "Right Motor Pin 2",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 870,
        "y": 1340,
        "wires": []
    },
    {
        "id": "481d40844e251503",
        "type": "trigger",
        "z": "73960975.76e488",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "num",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 320,
        "wires": [
            [
                "a8c173fe.dbcaa"
            ]
        ]
    },
    {
        "id": "866098df1cd504dd",
        "type": "function",
        "z": "73960975.76e488",
        "name": "",
        "func": "for (let object of msg.payload) {\nif (object.class == 'Mouse') {\n        \n    msg.payload.predict = msg.payload[0].score\n    break;\n    }\nelse if (object.class == 'Controller') {\n        \n    msg.payload.predict = msg.payload[0].score\n    break;\n    }\nbreak;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 240,
        "wires": [
            [
                "cd7f417b3c4d0aff",
                "289f07c8a9274dba"
            ]
        ]
    },
    {
        "id": "cd7f417b3c4d0aff",
        "type": "debug",
        "z": "73960975.76e488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 260,
        "wires": []
    },
    {
        "id": "21023e291d05c7e4",
        "type": "debug",
        "z": "73960975.76e488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 380,
        "wires": []
    },
    {
        "id": "bcf0e12b246be6d2",
        "type": "delay",
        "z": "73960975.76e488",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "866098df1cd504dd"
            ]
        ]
    },
    {
        "id": "c5d7e93ab51ff726",
        "type": "influxdb",
        "hostname": "192.168.0.134",
        "port": "8086",
        "protocol": "http",
        "database": "FYP",
        "name": "",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "1b018480918e5201",
        "type": "telegram bot",
        "botname": "SortingDetection_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]